#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.number-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 5rem;
}

.number-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #a4a4a4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}


h1{
  font-size: 2rem;
  margin-bottom: 2rem;
  padding:1rem;
  color: #333;
  border: 1px solid #a4a4a4;
  border-radius: 50px;
  background-color: #a4a4a4;
}